<!DOCTYPE html>
<html>
<body>

<h2>Uso del Repositorio GitHub </h2>

<p id="demo">Veremos como aprender a subir un repositorio.</p>

<button type="button" onclick='document.getElementById("demo").innerHTML = "En la Actividad 4.1 aprenderemos como subir un proyecto a un repositorio GitHub"'>Continuar</button>

</body>
</html>
